@model OnlineRailwayReservationSystem.Models.Coach

@{
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}

@{
    ViewBag.Title = "Add New Coach";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="white-box">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Coach</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.TrainID, "TrainID", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("TrainID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TrainID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "control-label col-md-2" })


                            @{
                                List<SelectListItem> listItems = new List<SelectListItem>();
                                listItems.Add(new SelectListItem
                                {
                                    Text = "First",
                                    Value = "First"
                                });
                                listItems.Add(new SelectListItem
                                {
                                    Text = "Business",
                                    Value = "Business",
                                });
                                listItems.Add(new SelectListItem
                                {
                                    Text = "Economy",
                                    Value = "Economy"
                                });
                            }

                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Class, listItems, "-- Select Class --", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })
                            </div>


                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TotalNumberOfSeat, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TotalNumberOfSeat, new { htmlAttributes = new { @class = "form-control", @min = 15, @max = 20 }  })
                                @Html.ValidationMessageFor(model => model.TotalNumberOfSeat, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TotalNumberOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TotalNumberOfBirth, new { htmlAttributes = new { @class = "form-control", @min = 20, @max = 40 } })
                                @Html.ValidationMessageFor(model => model.TotalNumberOfBirth, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Add" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

            </div>
            <span class="btn btn-default">
                @Html.ActionLink("Back to List", "Index")
            </span>
        </div>

    </div>
    <footer class="footer text-center"> 2018 &copy; E-Ticket </footer>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
