@model IEnumerable<OnlineRailwayReservationSystem.Models.Coach>

@{
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}

@{
    ViewBag.Title = "Manage Coach";
}


<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">

                <h4 class="page-title">@ViewBag.Title</h4>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- ============================================================== -->
        <!-- table -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <span class="btn btn-default">@Html.ActionLink("Add New Coach", "Create")</span>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>CLASS</th>
                                    <th>TOTAL SEATS</th>
                                    <th>TOTAL BERTHS</th>
                                    <th>TRAIN NAME</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Class)</td>
                                        <td class="txt-oflo">@Html.DisplayFor(modelItem => item.TotalNumberOfSeat)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TotalNumberOfBirth)</td>
                                        <td class="txt-oflo">@Html.DisplayFor(modelItem => item.Train.TrainName)</td>
                                        <td>
                                            <span class="btn btn-default">@Html.ActionLink("Update", "Edit", new { id = item.CoachID })</span>
                                            <span class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.CoachID })</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <footer class="footer text-center"> 2018 &copy; E-Ticket </footer>
</div>
