@model OnlineRailwayReservationSystem.Models.Complain

@{
    ViewBag.Title = "Submit Complain";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.UserID, "UserID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ComplainType, htmlAttributes: new { @class = "control-label col-md-2" })


            @{
                List<SelectListItem> listItems = new List<SelectListItem>();
                listItems.Add(new SelectListItem
                {
                    Text = "Staff",
                    Value = "Staff"
                });
                listItems.Add(new SelectListItem
                {
                    Text = "Service",
                    Value = "Service",
                });
            }

            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ComplainType, listItems, "-- Select Class --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ComplainType, "", new { @class = "text-danger" })
            </div>
        </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ComplainDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ComplainDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ComplainDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
